<div class="wallpaper" style="background-image: url('https://wallpaperaccess.com/full/417644.jpg');">
  <div>
    <nz-switch
      style="margin-left: 20px; margin-top: 20px;"
      [(ngModel)]="isSQLIAttackEnabled"
      [nzControl]="true"
      (click)="clickSwitch()"
      [nzLoading]="loadingSQLI">
    </nz-switch>
    <header style="color: white; font-size: x-large; font-style: oblique; margin-left: 10%;">
      <br/>
      <b>
        OWASP Top 10 @2020
      </b>
      <br/>
      <br/>
    </header>
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="username" placeholder="Username" />
          </nz-input-group></nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group></nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <div nz-col [nzSpan]="24">
          <a class="login-form-forgot" style="float: left;" (click)="forgotPassword()">Forgot password</a>
        </div>
        <nz-modal [(nzVisible)]="isVisible" nzTitle="Password Recovery" (nzOnCancel)="handleCancel()">
          <div>
            <nz-input-group [nzSuffix]="suffixTemplateInfo" [nzPrefix]="prefixTemplateUser">
                <input type="text" nz-input placeholder="Enter your username"
                  [(ngModel)]="username" [ngModelOptions]="{standalone: true}" />
              </nz-input-group>
              <ng-template #prefixTemplateUser><i nz-icon nzType="user"></i></ng-template>
              <ng-template #suffixTemplateInfo><i nz-icon nz-tooltip nzTooltipTitle="Username or mail address" nzType="info-circle"></i></ng-template>
              <br>
              <br>
              <nz-input-group [nzSuffix]="suffixTemplate">
                <input [type]="securityQuestionVisible ? 'text' : 'password'" nz-input placeholder="Your first school?" [(ngModel)]="securityQuestion" [ngModelOptions]="{standalone: true}" />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <i nz-icon [nzType]="securityQuestionVisible ? 'eye-invisible' : 'eye'" (click)="securityQuestionVisible = !securityQuestionVisible"></i>
              </ng-template>
            </div>
          <div *nzModalFooter>
            <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
            <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Send</button>
          </div>
        </nz-modal>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" class="login-form-button" [disabled]="!validateForm.valid">Log In</button>
          <br/>
          <br/>
        <label style="margin-left: 4%; color: white;">
          or if you don't have an account
        </label>
          <b style="color: blue;"><a (click)="onRegistration()"> register!</a></b>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
