/* [nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

table td {
  padding: 10px;
}

h3 {
  color: #fff;
  margin-bottom: 0;
}

.carousel_adDetails {
  height: 300px;
  width: 250px;
}

img {
  height: 300px;
  width: 250px;
  border-radius: 8px;
  padding: 2px;
  border: 1px solid blue;
}

p {
  margin: 0;
} */

.title {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 24px;
  display: block;
  margin-bottom: 16px;
}
.item-wrap {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
}
.label {
  margin-right: 8px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.85);
}
