<!-- <div>
  <table>
    <tr>
      <td></td>
      <td>
        <nz-descriptions nzTitle="Ad Details" nzLayout="vertical">
          <nz-descriptions-item nzTitle="UserName">Zhou Maomao</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Telephone">18100000000</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Live">Hangzhou, Zhejiang</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Remark">Empty</nz-descriptions-item>
          <nz-descriptions-item nzTitle="Address">
            No. 18, Wantang Road, Xihu District, Hangzhou, Zhejiang, China
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Address">
            No. 18, Wantang Road, Xihu District, Hangzhou, Zhejiang, China
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Address">
            No. 18, Wantang Road, Xihu District, Hangzhou, Zhejiang, China
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Address">
            No. 18, Wantang Road, Xihu District, Hangzhou, Zhejiang, China
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="Address">
            No. 18, Wantang Road, Xihu District, Hangzhou, Zhejiang, China
          </nz-descriptions-item>
        </nz-descriptions>
      </td>
      <td>
        <div style="background: #ececec00; padding:30px;">
          <nz-card style="width:300px;" [nzBordered]="false" nzTitle="Card title">
            <p>Card content</p>
            <p>Card content</p>
            <p>Card content</p>
          </nz-card>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <nz-carousel nzAutoPlay class="carousel_adDetails"
        *ngIf="ad.photos.length !== 0; else elseContent">
          <div nz-carousel-content *ngFor="let index of array">
            <h3>{{ index }}</h3>
          </div>
        </nz-carousel>
        <ng-template #elseContent>
          <img src="assets\img\default_img.png">
        </ng-template>
      </td>
      <td>

      </td>
    </tr>
  </table>
</div> -->

