p {
  margin: 0;
}

.tag_request{
  margin-left: -80%;
  margin-bottom: 10px;
}

[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

div {
  margin-top: 8px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 20px;
}
