[nz-carousel-content] {
  text-align: center;
  height: 220px;
  line-height: 160px;
  background: #364e7967;
  color: #fff;
  overflow: hidden;
  display: block;
}

h3 {
  color: #fff;
  margin-bottom: 0;
}

.card_column_adResponse {
  margin-top: 25px;
}

.nzInputGroupSearch {
  width: 270px;
  margin-bottom: 70px;
}

.title {
  text-align: center;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.85);
  line-height: 24px;
  display: block;
  margin-bottom: 16px;
}
.item-wrap {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
}
.label {
  margin-right: 8px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.85);
}

[nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin-bottom: 0;
}

.carousel_adDetails {
  height: 230px;
  width: 200px;
  margin-left: 28%;
}

.img_adDetails {
  height: 230px;
  width: 200px;
  border-radius: 8px;
  padding: 2px;
  border: 1px solid blue;
}

.alert {
  padding: 20px;
  background-color:	#ff9966;
  color: rgb(3, 3, 70);
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
