<div style="background: transparent; padding:30px;">
  <nz-input-group class="nzInputGroupSearch" nzSearch [nzAddOnAfter]="suffixIconButton">
    <input #searchField
      type="text"
      style="height: 40px;"
      id="inputSearchField"
      nz-input
      placeholder="search by brand & model" />
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary"
      style="height: 40px;"
      nzSearch
      (click)="search()">
      <i nz-icon nzType="search"></i>
    </button>
    <button nz-button nzType="primary" nzGhost
      style="height: 40px; border-left-color: blue;"
      (click)="reloadSearch()">
      <i nz-icon nzType="reload" nzTheme="outline"></i>
    </button>
  </ng-template>

  <div style="float: right;">
  Angular sanitizing <nz-switch [(ngModel)]="isSanitizingChecked" [nzCheckedChildren]="checkedTemplate" [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
    <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
    <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
  </div>

  <div class="alert"
    id="nz_alert_searchResult"
    style="width: 60%; margin-top: -40px; display: none;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>No search result for: </strong>
    <div [innerHTML]="searchWarningDescription"></div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8" class="card_column_adResponse" *ngFor="let ad of adList">
      <nz-card
        style="width:300px;"
        [nzCover]="coverTemplate"
        [nzActions]="[actionAddToCart, actionDetails]">
        <nz-card-meta
          [nzTitle]="getTitle(ad)"
          [nzDescription]="getDescription(ad)"
          [nzAvatar]="avatarTemplate"></nz-card-meta>
      </nz-card>
      <ng-template #avatarTemplate>
        <nz-avatar nzText="AD"></nz-avatar>
      </ng-template>
      <ng-template #coverTemplate>
        <nz-carousel [nzEffect]="'fade'">
          <div nz-carousel-content *ngFor="let image of ad.photos">
            <img
              class="carousel-img"
              [src]=image.picByte
              style="height: 100%; width: 100%; display: block;">
          </div>
        </nz-carousel>
        <img class="carousel-img" *ngIf="ad.photos.length===0" src="assets\img\default_img.png">
      </ng-template>

      <ng-template #actionAddToCart>
        <i nz-icon nzType="plus" nzTheme="outline" (click)="addToCart(ad)"></i>
      </ng-template>
      <ng-template #actionDetails>
        <i nz-icon nzType="info-circle" nzTheme="outline"
          (click)="openDrawer(ad)"></i>
      </ng-template>
    </div>
  </div>
</div>

<!-- DRAWER za Ad Info -->
<nz-drawer [nzVisible]="visibleDrawer" [nzWidth]="500"
  *ngIf="visibleDrawer"
  [nzClosable]="false" (nzOnClose)="closeDrawer()">
  <p class="title" style=" margin-bottom: 24px;">Ad Details</p>
  <nz-descriptions [nzColumn]="2" nzTitle="Car Details">
    <nz-descriptions-item nzTitle="Brand" [nzSpan]="1">
       {{ adInfo.car.carModel.brandName }} ({{ adInfo.car.carModel.brandCountry }})
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Model" [nzSpan]="1">
      {{ adInfo.car.carModel.modelName }}
    </nz-descriptions-item>

    <nz-descriptions-item nzTitle="Class" [nzSpan]="1">
      {{ adInfo.car.carModel.className }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Fuel Type" [nzSpan]="1">
      {{ adInfo.car.fuelType }}
    </nz-descriptions-item>

    <nz-descriptions-item nzTitle="Gearshift Type" [nzSpan]="1">
      {{ adInfo.car.gearshiftType }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Number Of Gears" [nzSpan]="1">
      {{ adInfo.car.numberOfGears }}
    </nz-descriptions-item>

    <nz-descriptions-item nzTitle="Kilometers travelled" [nzSpan]="1">
      {{ adInfo.car.kilometersTravelled }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Limited distance" [nzSpan]="1">
      <i nz-icon nzType="check-circle" nzTheme="outline" *ngIf="adInfo.limitedDistance"></i>
      <i nz-icon nzType="close-circle" nzTheme="outline" *ngIf="!adInfo.limitedDistance"></i>
    </nz-descriptions-item>

    <nz-descriptions-item nzTitle="Available kilometers per rent" [nzSpan]="2">
      {{ adInfo.availableKilometersPerRent }}
    </nz-descriptions-item>
  </nz-descriptions>
  <nz-divider></nz-divider>
  <nz-descriptions [nzColumn]="2" nzTitle="Agent Details">
    <nz-descriptions-item nzTitle="First Name" [nzSpan]="1">
      {{ adInfo.agent.firstName }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Last Name" [nzSpan]="1">
      {{ adInfo.agent.lastName }}
    </nz-descriptions-item>
    <nz-descriptions-item nzTitle="Address" [nzSpan]="1">
      {{ adInfo.agent.address }}
    </nz-descriptions-item>
  </nz-descriptions>
  <nz-divider></nz-divider>
  <div style="text-align: center;">
    <nz-carousel
      class="carousel_adDetails"
      nzAutoPlay
      *ngIf="adInfo.photos.length !== 0; else elseContent">
      <div nz-carousel-content *ngFor="let photo of adInfo.photos">
        <img
          class="carousel-img"
          [src]=photo.picByte
          style="height: 100%; width: 100%; display: block; border-radius: 8px;">
      </div>
    </nz-carousel>
    <ng-template #elseContent>
      <img class="img_adDetails" src="assets\img\default_img.png">
    </ng-template>
  </div>
</nz-drawer>
