p {
  margin: 0;
}
div {
  margin-top: 8px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 20px;
}
nz-date-picker,nz-month-picker,nz-range-picker,nz-week-picker {
  margin: 0 8px 12px 0;
}
[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

nz-button-group [nz-button] {
  margin-right: 0;
}
