.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 30px 16px 0;
  float: left;
}

.logo-img {
  width: 130px;
  height: 40px;
  margin-bottom: 40px;
}

.header-menu {
  line-height: 64px;
  margin-right: 200px;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 0 24px 24px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.inner-layout {
    background-image: url('https://www.ci.camden.nj.us/wp-content/uploads/2019/03/blue-gradient-background.png');
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    padding: 24px;
    min-height: 700px;
}
