<div>
  <nz-layout>
    <nz-header>
      <div class="logo"><img class="logo-img" src="assets\img\logo.png"></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li *ngIf="isAdmin" nz-menu-item (click)="agentRegister()">Register Agent</li>
        <li *ngIf="isAdmin" nz-menu-item (click)="registrationRequests()">Registration Requests</li>
        <li nz-menu-item style="float: right;" (click)="logout()">
          <i nz-icon nzType="user" nzTheme="outline"></i>
          Logout
        </li>
      </ul>
    </nz-header>
    <nz-layout>
      <nz-layout class="inner-layout">
          <nz-content style="background-color: rgba(255, 255, 255, 0.2);">
            <router-outlet></router-outlet>
          </nz-content>
      </nz-layout>

      <nz-sider nzWidth="250px" nzTheme="dark">
        <ul nz-menu nzMode="inline" class="sider-menu" nzTheme="dark">
          <li nz-submenu nzOpen nzIcon="user" nzTitle="subnav 1">
            <ul>
              <li nz-menu-item>option1</li>
              <li nz-menu-item>option4</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="subnav 2" nzIcon="laptop">
            <ul>
              <li nz-menu-item>option5</li>
              <li nz-menu-item>option6</li>
              <li nz-menu-item>option7</li>
              <li nz-menu-item>option8</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="subnav 3" nzIcon="notification">
            <ul>
              <li nz-menu-item>option9</li>
              <li nz-menu-item>option10</li>
              <li nz-menu-item>option11</li>
              <li nz-menu-item>option12</li>
            </ul>
          </li>
        </ul>
      </nz-sider>
    </nz-layout>
  </nz-layout>
</div>
