<div>
  <nz-layout>
    <nz-header>
      <div class="logo"><img class="logo-img" src="assets\img\logo.png"></div>
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li *ngIf="isAdmin" nz-menu-item (click)="agentRegister()">Register Agent</li>
        <li *ngIf="isAdmin" nz-menu-item (click)="registrationRequests()">Registration Requests</li>
        <li nz-menu-item style="float: right;" (click)="logout()">
          <i nz-icon nzType="user" nzTheme="outline"></i>
          Logout
        </li>
      </ul>
    </nz-header>
    <nz-layout>
      <nz-layout class="inner-layout">
          <nz-content style="background-color: rgba(255, 255, 255, 0.2);">
            <router-outlet></router-outlet>
          </nz-content>
      </nz-layout>

      <nz-sider nzWidth="250px" nzTheme="dark">
        <ul nz-menu nzMode="inline" class="sider-menu" nzTheme="dark">
          <li *ngIf="isSimpleUser" (click)="showAds()" nz-menu-item><i nz-icon nzType="car" nzTheme="outline"></i>Ads</li>
          <li *ngIf="isSimpleUser"
            [@divState]="state"
            (click)="showCart()"
            nz-menu-item>
            <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
            Shopping Cart
          </li>
          <li *ngIf="isSimpleUser" nz-submenu nzTitle="Requests" nzIcon="shopping">
            <ul>
              <li nz-menu-item>Pending</li>
              <li nz-menu-item>Reserved</li>
              <li nz-menu-item>Paid</li>
              <li nz-menu-item>Canceled</li>
            </ul>
          </li>
        </ul>
      </nz-sider>
    </nz-layout>
  </nz-layout>
</div>
